<div class="container">
<h1>URLs and short URLs</h1>
<table>
  <tr>
    <th>Original URL</th>
    <th>Custom shortened URL (Copy & Paste into browser)</th>
  </tr>
  <% @addresses.each do |address| %>
  <tr>
    <td><%= address.url  %></td>
    <td><%= request.base_url %>/go/<%= address.short  %> </td>
  </tr>
  <% end %>
</table>
<%= link_to 'Get new short link', new_address_path, class: 'btn btn-primary mt-3' %>
</div>

