<h1>URLs and short URLs</h1>

<table>
  <tr>
    <th>Long</th>
    <th>Short</th>
  </tr>
  <% @addresses.each do |address| %>
  <tr>
    <td><%= address.url  %></td>
    <td><%= address.short  %> </td>
  </tr>
  <% end %>
</table>


 <%= link_to 'Get new short link', new_address_path, class: 'btn btn-primary mt-3' %>
